body{

margin:0;

font-family:Arial;

background:#f5f5f5;

}


header{

background:#0057b8;

color:white;

padding:20px;

display:flex;

justify-content:space-between;

}


#tableList{

display:grid;

grid-template-columns:repeat(auto-fit,120px);

gap:15px;

padding:20px;

}



.tableBtn{

font-size:25px;

padding:25px;

border-radius:10px;

border:none;

background:white;

box-shadow:0 0 5px #aaa;

}



#cashierMenu{

display:grid;

grid-template-columns:repeat(auto-fit,200px);

gap:15px;

padding:20px;

}



.menuCard{

background:white;

padding:15px;

border-radius:10px;

}


button{

padding:12px;

font-size:18px;

border-radius:8px;

}
