/* =====================================
   RESTORAN HAMEED'S BISTRO
   KITCHEN DISPLAY SYSTEM V5 GRID
===================================== */


*{
    box-sizing:border-box;
}


body{

    margin:0;

    padding:0;

    background:#111;

    font-family:Arial, Helvetica, sans-serif;

    color:white;

}







/* HEADER */

header{

    background:#0057b8;

    text-align:center;

    padding:20px;

}


header h1{

    margin:0;

    font-size:42px;

}


header h2{

    margin:8px 0 0;

    font-size:28px;

}








/* ORDER GRID */


main{

    padding:20px;

}



#kitchenOrders{


    display:grid;


    grid-template-columns:

    repeat(4, 1fr);


    gap:20px;


}








/* ORDER CARD */


.kitchenCard{


    background:white;


    color:#222;


    border-radius:15px;


    padding:20px;


    min-height:330px;


    box-shadow:

    0 5px 15px rgba(0,0,0,0.5);


}








/* STATUS COLOR */


.kitchenCard.pending{

    border-top:12px solid red;

}



.kitchenCard.preparing{

    border-top:12px solid orange;

}



.kitchenCard.ready{

    border-top:12px solid green;

}









/* ORDER HEADER */


.orderHeader{


    display:flex;


    justify-content:space-between;


    align-items:center;


}


.orderHeader h2{


    font-size:34px;


    margin:0;


}


.orderHeader p{


    font-size:22px;


    font-weight:bold;


}








/* ITEM LIST */


.itemsBox{


    margin-top:20px;


}


.itemRow{


    display:flex;


    justify-content:space-between;


    font-size:25px;


    padding:10px 0;


    border-bottom:1px solid #ddd;


}



.itemRow strong{


    color:#0057b8;


}









/* BUTTON AREA */


.buttonBox{


    display:flex;


    gap:10px;


    margin-top:25px;


}



.buttonBox button{


    flex:1;


    padding:15px 5px;


    border:none;


    border-radius:10px;


    background:#0057b8;


    color:white;


    font-size:18px;


    font-weight:bold;


}









/* TV RESPONSIVE */


@media(max-width:1600px){


#kitchenOrders{


    grid-template-columns:

    repeat(3,1fr);


}


}





@media(max-width:1000px){


#kitchenOrders{


    grid-template-columns:

    repeat(2,1fr);


}


}





@media(max-width:600px){


#kitchenOrders{


    grid-template-columns:

    repeat(1,1fr);


}


header h1{

    font-size:28px;

}



}
