body{

margin:0;

font-family:Arial, sans-serif;

background:#111;

color:white;

}



header{

text-align:center;

background:#0057b8;

padding:20px;

}



header h1{

font-size:40px;

margin:0;

}





#kitchenOrders{


display:grid;

grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

gap:20px;

padding:20px;


}





.kitchenCard{


background:#222;

border-radius:15px;

padding:25px;

font-size:28px;


}




.kitchenCard h2{


font-size:40px;

margin-top:0;


}





.kitchenCard p{


font-size:30px;


}





.kitchenCard button{


font-size:25px;

padding:15px 25px;

margin:5px;

border:none;

border-radius:10px;

cursor:pointer;


}
