body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f5f5f5;
}


header{
    text-align:center;
    background:#064b9b;
    color:white;
    padding:20px;
}


.logo{
    width:120px;
}


.languages button{
    margin:3px;
    padding:8px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}


#menu{
    padding:15px;
}


.category-title{
    background:#064b9b;
    color:white;
    padding:10px;
    margin-top:20px;
    border-radius:8px;
}


.item{
    background:white;
    margin:8px 0;
    padding:12px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
}


.item-name{
    font-weight:bold;
}


.price{
    color:green;
    font-weight:bold;
}
