body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#064b9b;
    color:white;
    text-align:center;
}


/* Welcome Page */

#welcome{
    min-height:100vh;
    padding-top:25px;
    box-sizing:border-box;
}
.back-btn{

    background:#555 !important;

    color:white;

    margin-bottom:15px;

    width:120px;

}

.logo{

    width:180px;
    height:180px;
    object-fit:contain;

    background:white;

    border:5px solid white;
    border-radius:50%;

    padding:8px;

}



h1{

    font-size:28px;
    margin:15px 0 5px;

}



h2{

    font-size:20px;
    margin:5px 0 25px;

}



/* Language Buttons */

.languages{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;

    margin:20px;

}



.languages button{

    width:85px;
    height:70px;

    background:white;
    color:#064b9b;

    border:none;
    border-radius:10px;

    font-size:13px;
    font-weight:bold;

}



/* Dine In Take Away */

.type{

    margin-top:35px;

}



.type button{

    width:150px;
    height:55px;

    margin:10px;

    border:none;
    border-radius:10px;

    background:white;
    color:#064b9b;

    font-size:18px;
    font-weight:bold;

}



/* Menu Page */

#menuPage{

    background:white;
    color:#222;

    min-height:100vh;

    padding:20px;

}



#menuPage button{

    background:#064b9b;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:8px;

    font-size:16px;

}



.category{

    background:#064b9b;

    color:white;

    padding:12px;

    margin:10px;

    border-radius:10px;

}



.item{

    background:#f5f5f5;

    color:#222;

    margin:10px 0;

    padding:15px;

    border-radius:10px;

    display:flex;

    justify-content:space-between;

}



.price{

    color:green;

    font-weight:bold;

}
